### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/Data/Enum/User/User/test.java
/src/GUI/test/
/src/GUI/Stage/MainTest.java
/src/GUI/util/SceneUtil.java
/src/GUI/Stage/MyStage.java
/src/Sevice/Test.java
